<!-- Coming 1 --><!-- <header
    class="lg:w-[526px] h-[144px] hidden lg:block p-[30px] ml-auto mb-10 rounded-[16px] bg-white dark:bg-[#111111]"
  >
  </header> --><!-- Coming 2 --><!-- <section>
        <h2 id="preguntas_frecuentes">Preguntas Frecuentes</h2>
        <details>
          <summary>Pregunta</summary>
          <p>Summary</p>
        </details>
      </section> --><!-- <section>
        <h2 id="contacto">Contacta me</h2>
        <form method="post" action="/">
          <fieldset>
            <legend>Información personal</legend>
            <label style="display: block"
              >Nombre
              <input type="text" name="name" />
            </label>
            <label style="display: block"
              >Correo
              <input type="email" name="email" />
            </label>
          </fieldset>
          <fieldset>
            <legend>Información adicional</legend>
            <label style="display: block"
              >Fecha de atención
              <input type="datetime-local" name="fecha_atencion" />
            </label>
          </fieldset>
          <button type="submit">Enviar</button>
        </form>
      </section> -->
