---
import Content from "./Content.astro";
import Perfil from "./Perfil.astro";
---

<main
  class="mx-auto container grid grid-cols-12 md:gap-10 justify-between lg:mt-[110px]"
>
  <Perfil />
  <Content />
</main>
